<html>
    <head>
      {% if title %}
        <title>{{ title }} - VQG Annotation</title>
        {% else %}
        <title>Welcome to the VQG Annotation application!</title>
      {% endif %}
      
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
 			<div class="h-50 d-flex justify-content-center">
  				<img src="https://vision.ece.vt.edu/data/mscoco/images/train2014/./COCO_train2014_000000314392.jpg" class="h-100 image-fluid"> 
			</div>
			<div class="row">
				This is the question
			</div>
		</div>
    </body>
</html>