<html>
    <head>
      {% if title %}
        <title>{{ title }} - VQG Annotation</title>
        {% else %}
        <title>Welcome to the VQG Annotation application!</title>
      {% endif %}
    </head>
    <body>
        <div>Microblog: 
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('annotate') }}">Annotate</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>