{% extends "base.html" %}
{% block content %}	

    	<div class="container">
			{% if completion_code %}

				<p>Thanks for taking part in our research study!  Your completion code is {{ completion_code }}</p>
				<p>Please cut and paste this completion code into Prolific to indicate that you have completed the task</p>
	
			{% else %}

				<p>You did not successfully complete this task.  This means that either you did not correctly answer the attention check question or your vision is not sufficient to view the images.  Please contact the Principal Investigator of this study, Amanda Buddemeyer, at amb467 (at) pitt.edu if you believe that you should have gotten a completion code.</p>

			{% endif %}
		</div>
{% endblock %}
