	<div class="left-div"	
		<p>Follow these rules when generating questions:
			<ul>
				<li>Vary the content of your questions rather than asking different versions of the same or similar question</li>
				<li>Do not ask questions that can be answered just by looking at the content of the image</li>
				<li>Think about questions that you might ask to start a conversation with someone about the image, or perhaps questions that you wonder about the image</li>
				<li>All questions must be in English</li>
			</ul>
		</p>
	</div>